eventlet
opencv-python
numpy
python-dotenv
openai
flask
flask-cors
flask-socketio
gymnasium
opencv-python
numpy
scipy
scikit-learn
pandas
joblib
requests
pandas
xgboost
gql
aiohttp
seaborn
setuptools>=68.0.0
wheel>=0.41.0
