<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7M0GTCBJX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7M0GTCBJX');
</script>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">Home</a>

        </div>
    </nav>

    <div class="container">
        <header class="header">
            <h1>MapLab Product Management</h1>
            <p>MapLab is Komodo's full-stack platform approach to enable a comprehensive foundation for healthcare analytics.</p>
            <a href="https://www.komodohealth.com/perspectives/new-gen-ai-assistant-empowers-the-enterprise/">See Press Release</a>
            <p><i>Specific company data is masked below due to the open source nature of this project.</i></p>

        </header>

        <div class="content">
            <div class="left-section">
                <h2>About the Problem</h2>
                <p>MapLab is Komodo Health's full-stack platform, designed to provide a comprehensive foundation for healthcare analytics. The U.S. healthcare system is fragmented, making it difficult for organizations to generate aggregate and provider-level insights. Komodo's Map cleans and processes this data, but a scalable software solution was needed to empower users with direct access to insights.</p>
                <p>As the Senior Product Manager, I led the development of MapLab, ensuring that both technical and non-technical users could leverage Komodo's healthcare data without extensive coding knowledge. This initiative resulted in a self-service analytics product that streamlined workflows, reduced time-to-insight, and generated over $XM in revenue within its first quarter.</p>

                <h2>Goals</h2>
                <ul class="styled-list">
                    <li>📊 Enable <strong>self-service analytics</strong> for users with varying levels of technical expertise</li>
                    <li>⏳ Reduce <strong>workflow complexity</strong> and <strong>time-to-insight</strong></li>
                    <li>🚀 Drive <strong>adoption and engagement</strong> through a user-friendly and scalable solution</li>
                </ul>                

                <h2>Challenges & Solutions</h2>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Challenge</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Users who lacked coding expertise could not access the data they needed</td>
                            <td><strong>No-code dataset creation</strong> and <strong>custom visualization</strong></td>
                        </tr>
                        <tr>
                            <td>There was friction in data exploration and visualization as most users were using Excel for these activities, which cannot handle millions of rows gracefully</td>
                            <td><strong>Intuitive UI with drag-and-drop tools that users were accustomed to with recommended highly used charts</strong></td>
                        </tr>
                        <tr>
                            <td>The amount of data users were querying could be 300M+ which caused slow workflows</td>
                            <td><strong>Customizable outputs that can decrease run-times to create datasets as many users did not need the entire data but rather only a slice of it</strong></td>
                        </tr>
                    </tbody>
                </table>

                <div class="process">
                    <h2>Development Timeline</h2>
                    <ul class="steps">
                        <div class = "step">Problem Identification – Conducted extensive user research to pinpoint barriers to healthcare data accessibility</div>
                        <div class = "step">Research & Strategy – Assessed competitor solutions and designed a differentiated, user-centric approach</div>
                        <div class = "step">Overcoming Roadblocks – Addressed technical challenges like scalability, query optimization, and UI/UX improvements</div>
                        <div class = "step">Go-To-Market Strategy – Collaborated with sales, marketing, and customer success teams to drive adoption</div>
                    </ul>
                </div>

                <h2>Failures & Lessons Learned</h2>
                <ul class="styled-list">
                    <li>⚖️ <strong>Balancing Perfection with Agility</strong> – Different teams have distinct priorities: Design seeks seamless aesthetics, QA demands zero defects, and Engineering wants scale. As a Product Manager, I want to solve customer problems without launching a feature that flops. With MapLab, we had to make tough calls, shifting tasks from launch to Post-MVP to ensure value delivery on time.</li>
                    <li>🔗 <strong>Managing Dependencies Proactively</strong> – Blockers were a major challenge during MapLab’s development. Some features were halted due to cross-team dependencies, impacting our velocity. We had to refine our products multiple times, ensuring no single team became a bottleneck for major development. Ensuring dependencies are considered when planning was vital.</li>
                    <li>⏳ <strong>Release Timelines Can Be a Moving Target</strong> – Dates matter for GTM and Sales readiness, but rigid deadlines without feasibility checks can backfire. Even with those, the onion that software development is, can simply cause dates to shift to the right because of unknowns. While artificial deadlines can streamline operations and force scope cuts, they can also cause burnout and updated resumes if mismanaged.</li>
                    <li>🔄 <strong>And Then What?</strong> – We knew that getting access to the data was not enough. The initial launch of my product included only that and the BI tool for overlays. However, our customers needed customization of those datasets for this feature to truly sing. This helped us develop and reinforce our roadmap.</li>
                </ul>

            </div>

            <div class="right-section">
                <h2>About the Product</h2>
                <p>MapLab is a single, collaborative platform that empowers both business and technical users to generate and act on healthcare insights with unprecedented speed and efficiency. Users can create dashboards through no-code Templates or can create custom or reusable analytics to solve unique business cases and problems in a high-code environment.</p>

                <h2>Business Outcomes</h2>
                <div class="achievements">
                    <div class="achievement">
                        <h2>$XM</h2>
                        <p>Revenue in the first quarter</p>
                    </div>
                    <div class="achievement">
                        <h2>3X</h2>
                        <p>Increase in average annual contract value compared to next highest offered software solution</p>
                    </div>
                </div>

                <h2>Achievement Highlights</h2>
                <div class="achievements">
                    <div class="achievement">
                        <h2>~600%</h2>
                        <p>Reduction in time-to-insight (TTI) compared to customer survey reported TTI</p>
                    </div>
                    <div class="achievement">
                        <h2>2 mins</h2>
                        <p>The average time it takes users to generate a custom dataset, compared to the previous 30+ minute workflow.</p>
                    </div>                    
                </div>

                <div class="additional-features">
                    <h2>Additional Features Launched</h2>
                    <ul class="styled-list">
                        <li>🔐 <strong>Sharing</strong> – Built-in a sharing feature to ensure seamless and safe collaboration across teams. This was a major challenge given the complexity of the product. One dataset could be backing multiple dashboards so we had to effectively manage both sharing access and ensuring users had control over resources they needed.</li>
                        <li>🔄 <strong>Automated Data Refreshes</strong> – Eliminated manual updates by enabling automatic data refreshes for up-to-date insights. This was a feature identified that was needed in research activities and customer feedback.</li>
                        <li>📤 <strong>Flexible Data Exports</strong> – Allowed teams to extract and integrate datasets directly into their own infrastructure, making analysis more adaptable to their needs. This was in response to many pieces of feedback after launching the initial MVP.</li>
                    </ul>
                </div>

                <h2>Screenshots</h2>

                <div class="screenshots">
                    <div class="screenshots-grid">
                        <img src="/static/maplab1.png" alt="MapLab Screenshot 1">
                        <img src="/static/maplab2.png" alt="MapLab Screenshot 2">
                        <img src="/static/maplab3.png" alt="MapLab Screenshot 3">
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
