<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7M0GTCBJX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7M0GTCBJX');
</script>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">Home</a>
        </div>
    </nav>

    <div class="container">
        <header class="header">
            <h1>Prime Early Access Sale Product Management</h1>
            <p>Successfully launched a <strong>brand-new global shopping event</strong> while simultaneously developing a <strong>self-service advertising product</strong>.</p>
            <a href="https://press.aboutamazon.com/2022/9/introducing-amazons-prime-early-access-sale-a-new-holiday-shopping-event-for-members-to-save-big-october-11-and-october-12" target="_blank">Press Release</a>

        </header>

        <div class="content">
            <div class="left-section">
                <h2>About the Problem</h2>
                <p>Launching a global event of this scale required extensive program management, coordination across multiple teams, and the ability to handle high traffic volumes while ensuring advertisers could seamlessly engage with the platform.</p>

                <h2>Goals</h2>
                <ul class="styled-list">
                    <li>🌎 <strong>Launch a New Global Event</strong> – Successfully managed the end-to-end rollout of Prime Early Access Sale across multiple countries</li>
                    <li>🛠 <strong>Ensure Quality</strong> – Maintained the same level of quality for all advertising during this event as compared to Prime Day and Black Friday/Cyber Monday</li>
                    <li>📊 <strong>Enhance Operational Efficiency</strong> – Streamlined processes for faster campaign deployment and real-time analytics given a short timeline for execution</li>
                    <li>🤝 <strong>Cross-Team Collaboration</strong> – Coordinated with engineering, marketing, sales and business teams to ensure a seamless experience for both shoppers and advertisers while maximing revenue</li>
                </ul>

                <h2>Challenges & Solutions</h2>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Challenge</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Compressed Timeline for Sales and Development</td>
                            <td>Many of the buffer timelines that are normally added in were eliminated. We also had to diligently track our working backwards document to identify drop-dead dates for deliverables. If we expected any deadlines to not be met, additional resources and help was dedicated as available</td>
                        </tr>
                        <tr>
                            <td>Adjustment of Pricing for Ad Packages</td>
                            <td>Prime Day and Black Friday/Cyber Monday had been events for a number of years with historical data available. This event had less confidence in forecasting due to its inaugural nature so scenario based modeling was utilized to capture worst and best case site traffic that was utilized in pricing</td>
                        </tr>
                        <tr>
                            <td>Competing Priorities and Resourcing</td>
                            <td>We were also preparing for Black Friday at this same time so there were competing priorities and limited resources available. A few approaches were used to manage this: 1 - any consolidated efforts for advertisers in both events were made; 2 - priority and more flexibility was given to advertisers that secured deals early on; and 3 - many materials and policies were reused from Prime Day that made implementation easier</td>
                        </tr>
                    </tbody>
                </table>

                <div class="process">
                    <h2>Development Timeline</h2>
                    <div class="steps">
                        <div class="step">Identify Event Scope and Objectives</div>
                        <div class="step">Create Initial Working Backwards Project Tracker</div>
                        <div class="step">Alignment on Advertising Packages with Leadership</div>
                        <div class="step">Sales and Internal Training Materials Created</div>
                        <div class="step">Go-To-Market</div>
                        <div class="step">Sales and Advertising Creation</div>
                        <div class="step">Go Live</div>
                        <div class="step">Post-Event Reporting and Analysis</div>
                    </div>
                </div>

                <h2>Failures & Lessons Learned</h2>
                <ul class="styled-list">
                    <li>⚖️ <strong>Importance of Working Backwards</strong> – The working backwards methodology was extremely helpful in setting clear delivery deadlines and what the impact of missing deadlines would be. This is often referred to as the Critical Path in Project Management but until one sees it utilized, both properly and improperly, the value of it does not sync in in it's entirety</li>
                
                    <li>🔗 <strong>Upward Communication and Expectation Management</strong> – Due to competing priorities (Black Friday and Cyber Monday), resourcing and sticking to a timeline was difficult. I learned the importance of structured check-ins with senior stakeholders to improve executive buy-in and secure necessary resources early on to prevent future issues</li>
                
                    <li>⏳ <strong>Importance of Cross-Functional Status Updates</strong> – The need for constant coordination across engineering, marketing, and sales meant that delays in one area had a cascading effect. I learned the importance of cross-functional communications and the need for update cadences—such as daily standups or enhanced project tracking—to minimize misalignment and improve overall execution efficiency</li>
                </ul>                
            </div>

            <div class="right-section">
                <h2>About the Program and Product</h2>
                <p>Brand creatives set up during this, and other high-traffic events, were configured to relay real time price discounts based on stock availability and dynamic pricing. These discounts would pull into the creatives themselves to link back directly to either brand stores or product specific pages</p>
                <div class="stats">
                    <div class="stat"><span>3</span> Ad placements on the home and brand pages</div>
                    <div class="stat"><span>100%</span> All impressions were driven to the official partners for 100% share-of-voice to improve conversion rates</div>

                </div>

                <h3>Product Impact</h3>
                <div class="achievements">
                    <div class="achievement">
                        <h2>$42.9M</h2>
                        <p>Ad revenue generated in two days</p>
                    </div>
                    <div class="achievement">
                        <h2>100+</h2>
                        <p>Advertisers with creatives and brand stores created and ran during the event</p>
                    </div>
                </div>

                <h3>Achievement Highlights</h3>
                <div class="achievements">
                    <div class="achievement">
                        <h2>14</h2>
                        <p>Countries set up with key advertising for Prime Early Access Sale</p>
                    </div>
                    <div class="achievement">
                        <h2>~33%</h2>
                        <p>Decrease in sales and advertising enablement time to meet aggressive deadlines compared to Prime Day</p>
                    </div>
                </div>

                <h2>Screenshots</h2>

                <div class="screenshots">
                    <div class="screenshots-grid">
                        <img src="/static/peas1.jpg" alt="Peas1">
                        <img src="/static/peas2.png" alt="Peas2">
                        <img src="/static/peas3.png" alt="Peas3">
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>
